body {
  background-color: #004f59;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

#app {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 70%);
  background: white;
  box-shadow: 3px 3px 6px #002941;
}

input {
  cursor: pointer !important;
}
